<div class="container text-center">
  <h1> <%= @cocktail.name %></h1>
  <div class="cocktail-pic">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="ingredients">
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name%>:
       <%= dose.description %>
      </p>
    <% end %>
  </div>
  <div class="add-dose">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btns">
    <p><%= link_to 'Back', cocktails_path %></p>
  </div>
</div>



